head
	meta(charset='UTF-8')
	title Default
	link(rel='shortcut icon', href='/favicon.ico')
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href=pathCss+'normalize.css')
	link(rel='stylesheet', href=pathCss+'main.css')
	// jquery
	script(src=pathJs+'libs/jquery-2.1.4.min.js')
	// Slider
	script(src=pathJs+'libs/jquery.cycle2.min.js')
	script(src=pathJs+'libs/jquery.cycle2.center.min.js')
	script(src=pathJs+'libs/jquery.cycle2.caption2.min.js')
	// Main JS
	script(src=pathJs+'main.js')